# Nix build outputs
result
result-*

# Project-specific
zen-browser-flake/

# Direnv
.direnv/

# Nix
*.qcow2
.pre-commit-config.yaml

# Editor specific files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store
.directory
.Trash-*

# Nix specific
.envrc 